RASTERS/
LAYERS_environment/Centroid_10x10m_vege_cover.gpkg
LAYERS_world/contours_velen_novigrad.gpkg
LAYERS_world/contours_white_orchard.gpkg
ICT Project.qgs~
ICT Project_attachments.zip
README/
.obsidian
FILES Obsidian ICT/
ICT Project - Medieval.qgs
ICT Project - Medieval.qgs~
ICT Project - Medieval_attachments.zip
ICT Project - Renders.qgs
ICT Project - Renders.qgs~
ICT Project - Renders_attachments.zip